.HeaderFinal {
    color: rgb(38, 38, 38);
    font-weight: 700;
    letter-spacing: 0.5em;
    word-spacing: 0.5em;
    grid-column: 3 ;
    height: 15vh;
    padding: 20px;
    background-color: cornsilk;
    opacity: 0.6;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    filter: drop-shadow(15px 15px 4px rgb(6, 72, 108));
}
