.HobbiesFinal {
    grid-column: 3;
    grid-row: 2;
    text-align: left;
    margin: 20px;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 20px;
    filter: drop-shadow(15px 15px 4px rgb(6, 72, 108));
}

.HobbiesFinal h3{
    text-align: center;
}

.HobbiesFinal .hobby{
    display: block;
}

.float-left {
    border-radius: 5%;
    width: 30%;
    margin: 20px;
    float: left;
}

.float-right {
    border-radius: 5%;
    width: 30%;
    margin: 20px;
    float: right;
}

.HobbiesFinal .hobby {
    display: block;
    margin-top: 60px;
}

.HobbiesFinal .video {
    border-radius: 5%;
}

.HobbiesFinal .boardgame-photo{
    transition: ease-in-out 1s;
}

.HobbiesFinal .boardgame-photo:hover {
    transition: ease-in-out 1s;
    transform: scale(300%) translateX(-30%);
}