.AboutMeFinal {
    grid-column: 3;
    grid-row: 2;
    text-align: left;
    margin: 20px;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 20px;
    filter: drop-shadow(15px 15px 4px rgb(6, 72, 108));
}

.AboutMeFinal h3{
    text-align: center;
}

.coding-skills {
    display: flex;
    align-items: center;
}

.coding-skills p{
    display: inline-block;
    margin: 0 auto;
}

.no-bullets {
    list-style: none;
    margin-left: 0;
}