.PageOne {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 3fr 1fr 5fr 3fr;
  grid-template-rows: min-content;
  min-height: 100vh;
  background-color: rgb(171, 191, 218)
}