.PageOne {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 3fr 1fr 5fr 3fr;
  grid-template-rows: min-content;
  min-height: 100vh;
  animation-name: fadein;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}