.NavBarFinal {
  grid-column: 2;
  margin-top: 10em;
  background-color: cornsilk;
  height: min-content;
  width: 7vw;
  min-width: 100px;
  border-radius: 20px;
  opacity: 0.6;
  position: fixed;
  animation: slide-in 2s forwards;
  display: block;
  filter: drop-shadow(15px 15px 4px rgb(6, 72, 108));
}

.no-bullets {
  list-style: none;
}

@keyframes slide-in {
  0% {
    left: -900px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 0.6;
  }
}

.NavBarFinal .link {
  display: block;
  margin: 10px;
  text-align: center;
  color: black;
  transition: 1s cubic-bezier(0.35, 0.94, 0.23, 0.81);
}

.NavBarFinal .link:hover {
  transform: scale(150%) rotate(10deg);
  transition: 0.15s;
}

.NavBarFinal .contact-link svg {
  transform: rotate(130deg) scale(150%);
}

.NavBarFinal .home-link svg:hover {
  transform: rotate(90deg);
  transition: 1s;
}

.NavBarFinal .about-link svg:hover {
  transform: rotate(-30deg);
  transition: 1s;
}

.NavBarFinal .portfolio-link svg:hover {
  transform: rotate(-30deg);
  transition: 1s;
}

.NavBarFinal .hobbies-link svg:hover {
  transform: rotate(60deg) ;
  transition: 1s;
}
.NavBarFinal .contact-link svg:hover {
  transition: 1s;
  transform: scale(150%);
}