.App {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 3fr 7fr 1fr;
  grid-template-rows: min-content;
  min-height: 100vh;
}

.App h1 {
  font-size: 45px;
}

.App h3 {
  font-size: 30px;
}