.FinalPage {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 2fr 6fr 2fr;
  grid-template-rows: min-content;
  min-height: 100vh;
  filter: drop-shadow(15px 15px 4px rgb(6, 72, 108));
}

@keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.FinalPage {
  background: linear-gradient(35deg, #005ad7, #70b4f7, #010ea0);
  animation: AnimationName 15s ease infinite;
  /* line-height: 1.3; */
}

@keyframes AnimationName {
  0%{background-position:0% 73%}
  50%{background-position:100% 28%}
  100%{background-position:0% 73%}
}