.FinalPage {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 3fr 1fr 5fr 3fr;
  grid-template-rows: min-content;
  min-height: 100vh;
  filter: drop-shadow(15px 15px 4px rgb(6, 72, 108));
}

@keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.FinalPage {
  background: linear-gradient(35deg, #0349aa, #70b4f7, #c224c3);
  background-size: 600% 600%;

  animation: AnimationName 27s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:0% 73%}
  50%{background-position:100% 28%}
  100%{background-position:0% 73%}
}