.NavBar {
  grid-column: 2;
  margin-top: 2em;
  background-color: cornsilk;

  height: min-content;
  width: 7vw;
  min-width: 100px;
  border-radius: 20px;
  opacity: 0.6;
}

.link {
  margin: 5px;
  text-align: center;
  color: black;
  transition: 1s cubic-bezier(0.35, 0.94, 0.23, 0.81);
}

a {
  text-decoration: none;
}
.link:hover {
  transform: scale(130%);
  transition: 0.2s;
}
