.NavBarTwo {
  grid-column: 2;
  margin-top: 2em;
  background-color: cornsilk;
  height: min-content;
  width: 7vw;
  min-width: 100px;
  border-radius: 20px;
  opacity: 0.6;
}

.NavBarThree .link {
  margin: 5px;
  text-align: center;
  color: black;

}

.NavBarThree a {
  text-decoration: none;
}
